.vetrina{
  background:url("medita2.png") no-repeat center center; /*linear-gradient(0deg, rgba(174,203,209,.1), rgba(174,203,209,0.6) 70.71%)*/
  background-size: cover;
  height:100vh;display: flex; width: 100%; align-items: center;/*vh:vertical height*/

}
  
    .contenuto-vetrina{width:100%;max-width: 1350px;margin: 0px auto;padding:15px;}
    .contenuto-vetrina h1,
    .contenuto-vetrina h2{color: #fff;}



  /*color:#000000;
  background-color:#FFFFFF;
  margin-right: 20%;
  margin-top: 0px;
  /* margin-left: 25%;
  margin-bottom: 0px;
  padding-left: 0px;
  margin-left:0px;}
*/
.intro-text{text-transform: uppercase;font-size: 20px;font-weight: 900;} /* 900 è un'extrabold */
/*.intro-text{text-transform:uppercase;font-size: 20px;font-weight: 900;/*color:#fff;display:block;padding-top:300px;padding-bottom:0px;margin-left:270px;}/* 900 è un'extrabold  font-size: 80%;*/
.titolo{font-size: 60px;font-weight: bold;/*display:block;color:#fff;top:0px;margin-left:270px;*/}
.button{padding: 18px 28px;background: #ff8331;color:#fff;display:inline-block;border-radius:4px;}
  
/* media query è una tecnica css3 https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mobilefirst   */
@media(max-width: 768px) {
  .articolo{flex-wrap:wrap;}
  .img,
  .contenutoArticolo{width:100%;height: auto;} /*wrap: le colonne lunghe vanno a capo, l'h si adatta agli elementi che contiene */
}


.articolo{
 display:flex; flex-direction:row; align-items: left;  /*  allinea gli elementi in un contenitore*/
 height: 100vh;
 width:100%;
 border-color:red;
 border-width: 40px;
 margin:80px;
 margin-left:0px;
 /*item=elemento*/
 }
.img{width:60%;height:100%;}
.img img{object-fit: cover;width:100%;height:100%;}
.contenutoArticolo{width:35%;padding:30px; color:#000;}

/* media query è una tecnica css3 https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mobilefirst   */
@media(max-width: 768px) {
  .articolo{flex-wrap:wrap;}/*wrap: le colonne lunghe vanno a capo, l'altezza si adatta agli elementi che contiene */
  .img,
  .contenutoArticolo{width:100%;height: auto;} /*wrap: le colonne lunghe vanno a capo, l'h si adatta agli elementi che contiene */
}
  
.panel-blue{display:flex;flex-direction:row;align-items: center;
  background:#4bb1e9;padding: 100px 30px;margin-bottom:0px;border-width: 0px;/* */
}

.grid{ /*margin-top: 30px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;margin-bottom: 30px;
  max-width:1352px;padding:0px 30px;margin:20px;} /*background:#4bb1e9; */} /*max-width: 1352px;display: flex; padding:0px;/* 30px;margin:0px auto;*/
.grid-col{width: 100%;color:#fff;flex-wrap: wrap;}
.grid{display: flex;max-width: 1352px;padding:0px 30px;margin:0px auto;}
.grid-col{width: 100%;color:#fff;flex-wrap: wrap;}


/*.grid{display: flex;max-width: 1352px;padding:0px 30px;margin:0px auto;}
.grid-col{width: 100%;color:#fff;flex-wrap: wrap;}*/

.panel-blue_text{display:flex;align-items: left;flex-direction:column;} /*margin-left:200px;*/
.dot{padding:15px;padding-right:10px;align: center;height: 250px;width: 250px;background:#8C8;border-radius:100%;margin-right: 30px;margin-left: 30px;margin-bottom: 30px;}/*line-height: 180px;text-align: center;width: 250px;display: inline-block;*/

.dot img{align: center;height: 245px;width: 245px;border-radius:100%;object-fit: cover;width:100%;height:100%;}/*margin-left: 10px;padding:30px;width: 90%;padding-top:0px;padding-bottom: 0px;padding:5%;margin:0px;*/
.panel-blue{
  background:#4bb1e9;padding: 100px 30px;
}
.panel-blue_text{display:flex;align-items: center;}
.dot{width: 250px;height: 250px;background:#8C8;
  border-radius: 100%;line-height: 250px;text-align: center;
  margin-right: 40px;display: inline-block;margin-right: 40px;margin-bottom: 40px;}

@media (max-width: 768px) { /*Media query è una tecnica CSS introdotta in CSS3. Utilizza la regola @media per includere un blocco di proprietà CSS solo se una determinata condizione è vera*/
  .grid{flex-wrap: wrap;}
}
/*@media (max-width: 768px) { Media query è una tecnica CSS introdotta in CSS3. Utilizza la regola @media per includere un blocco di proprietà CSS solo se una determinata condizione è vera
  .grid,
  .panel-blue,
  .panel-blue_text,
  .dot,
  .dot img{flex-wrap: wrap;width:100%;height: auto;} flex wrap: vai a capo
}
*/
.grid-col,
.panel-blue_text{width: 100%;color:#fff;flex-wrap:wrap;}

.footer {
height: 250px;
font: bold 114% Arial,sans-serif;
text-align: center;
color: rgb(246, 239, 239);
background:rgb(93, 91, 91);
margin-top:0px;
padding-top: 0px;
border-width: 0px;}
.footer{
  background: #65656a;
  padding: 80px 0px;
  width:100%;
}
